<div class='modal hide fade' id='fogStates' data-toggle='#fogStates'>
  <div class='modal-header'>
    <h1 class='center'>Where the hell is the fogline?</h1>
  </div>

  <div class='modal-body'>
    <p>What's it like above you?</p>

    <button class='btn btn-block fog' id='fogCircle'>I'm surrounded!</button>
    <button class='btn btn-block cloud' id='cloudyCircle'>Partial cover</button>
    <button class='btn btn-block sun' id='sunCircle'>Clear skies</button>
  </div>

  <div class='modal-footer'>
  </div>
</div>

<div class='modal hide fade' id='comeBack'>
  <div class='modal-header'>
    <h1 class='center'>Wait!</h1>
  </div>

  <div class='modal-body'>
    <p>Please consider answering, it'll make the map more accurate!</p>

    <button class='btn btn-block fog' id='fogCircle2'>I'm surrounded!</button>
    <button class='btn btn-block cloud' id='cloudyCircle2'>Partial cover</button>
    <button class='btn btn-block sun' id='sunCircle2'>Clear skies</button>
  </div>

  <div class='modal-footer'>
    <button class='btn btn-primary btn-block' id='showMap'>Just show me the map</button>
  </div>
</div>

<div class='sideBar'>
  <div id='dragBar'><i class='icon-circle-arrow-left icon-white'></i></div>
</div>
