<div class="container" id="footer">
  <div>
    <p class='right'><%= link_to "Contact", contact_path %></p>
    <p class='right'>Ipsum</p>
    <p class='right'>Lorem</p>
    <ul>
      <li><p>Where's Karl?</p></li>
    </ul>
  </div>
</div>

